/* <<<タグ名>>> */
form {
    background-color: #FFFFFF;
    text-align: center;
    width: 400px;
    height: 500px;
    margin: auto;
    padding: 13% 5%;
}

/* <<<属性(class)>>> */
.login-page {
    width: 100%;
    padding: 4% 0 4%;
    margin: auto;
}

.login-title {
    margin: 20px 0 20px;
    font-size: 30px;
    text-align: left;
}

.login-form {
    padding: 50px;
    margin: 200px auto 10px;
    border-radius: 5px;
    width: 420px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    background-color: gainsboro;
    border: 0;
    margin: 0px 0 25px;
    padding: 4%;
    border-radius: 5px;
    width: 320px;
    box-sizing: border-box;
    font-size: 90%;
    text-align: left;
    outline: solid 1px gray;
}

input[type="text"]:focus {
    outline: 2px solid cornflowerblue;
}

input[type="password"]:focus {
    outline: 2px solid cornflowerblue;
}

.login-button {
    margin: 0 250px 5px;
    height: 30px;
    line-height: 30px;
    width: 70px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(0, 81, 255);
    color: #FFFFFF;
    font-size: 20px;
    font-size: 15px;
}

.form button {
    background-color: aquamarine;
    border: 0;
    margin: 2% 0 2%;
    padding: 0;
    width: 100%;
    cursor: pointer;
}

.line {
    margin: 20px 0 5px;
    color: gray;
    align-content: center;
}

.other-account {
    margin: 10px 10px;
    color: gray;
    font-size: 15px;
}

.form img {
    height: 40px;
}

.annotation {
    margin: 0 35.5%;
    border: 0 520px;
    text-align: center;
}

.privacy-link {
    color: rgb(83, 83, 83);
}

/*<<<属性(id)>>>*/
#icon {
    width: 70px;
    height: 70px;
    text-align: left;
}

#icon-pic {
    width: 60px;
    height: 60px;
}

#new-page {
    width: 18px;
    height: 18px;
    opacity: 0.8;
}